html {
    background-color: #f3f3f3;
}

.logo-wrapper {
    display: flex;
}

.header-contents {
    display: flex;
    justify-content: space-between;

}

#users-list .user-item {
    margin-bottom: 5px;
}

.user-item {
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.user-avatar {
    border-radius: 100%;
    width: 100px;
}

#profile-upload-form {
    background-color: white;
    padding: 5px;
}

body {
    background-color: #f3f3f3;
}

h3 {
    margin: 0;
}

.articles-wrapper {
    width: 900px;
    padding: 0 15px;
}

.article-wrapper {
    margin-bottom: 30px;
    padding: 10px;
    background: white;
    border: solid gray 1px;
    border-radius: 5px;
}

.article_title {
    font-weight: bold;
    font-size: large;
}
.article_text {
    font-size: medium;
}

.article-info-wrapper {
    display: flex;
    align-items: baseline;
}
.article_author {
    font-size: small;
}
.article_date {
    font-size: small;
}
.article-separator {
    margin: 0 10px;
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}