.gallery-upload-form {
    background-color: var(--blueLight);
    margin: 15px;
    padding: 10px;
}

.gallery-item {
    display: flex;
    margin: 15px;
}

.gallery-image {
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.gallery-upload-form input {
    display: flex;
    margin: 5px 0;
}

.image-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}