.user-item {
    display: flex;
}

.user-avatar {
    border-radius: 100%;
    border: solid 1px black;
    width: 100px;
}

#users-list .user-item {
    margin-bottom: 15px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}