:root {
    --black: #141414;
    --pink: #ECCBD9;
    --white: #E1EFF6;
    --blueLight: #97D2FB;
    --blueDark: #83BCFF;
    --green: #80FFE8;
}

html {
    background-color: var(--white);
    color: var(--black);
}

body {
    background-color: var(--white);
    margin: 0;
}

main {
    padding: 10px;
}

#profile-upload-form {
    background-color: var(--white);
    padding: 15px;
}

#profile-delete-form {
    text-align: center;
}


h2,
h3 {
    margin: 0;
}

.articles-wrapper {
    padding: 0 15px;
}

.article-wrapper {
    margin-bottom: 30px;
    padding: 10px;
    background: var(--white);
    border-radius: 5px;
}

.article_title {
    font-weight: bold;
    font-size: large;
}
.article_text {
    font-size: medium;
}

.article-info-wrapper {
    display: flex;
    align-items: baseline;
}
.article_author {
    font-size: small;
}
.article_date {
    font-size: small;
}
.article-separator {
    margin: 0 10px;
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}