:root {
    --black: #4c4c4c;
    --blackAbsolute: #000;
    --pink: #ECCBD9;
    --white: #E1EFF6;
    --blueLight: #97D2FB;
    --blueDark: #83BCFF;
    --green: #5df1d6;
}

html {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Roboto', serif;
    font-size: 20px;
}

body {
    background-color: var(--white);
    margin: 0;
}

main {
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    width: 80vw;
}

#profile-upload-form {
    background-color: var(--white);
    padding: 15px;
}

#profile-delete-form {
    text-align: center;
}


h2,
h3 {
    margin: 0;
}


/* Interactive Elements */
a,
button {
    transition: all 0.25s;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--blackAbsolute);
    text-decoration: underline;
}

button {
    border: solid 1px var(--black);
    border-radius: 5px;
    background-color: var(--green);
    color: var(--black);
    padding: 5px 10px;
}

button:hover {
    background-color: var(--pink);
    border: solid 1px var(--blackAbsolute);
    color: var(--blackAbsolute);
    cursor: pointer;
}

input {
    border: solid 1px var(--black);
    border-radius: 5px;
    padding: 5px 10px;
}